$ray_yellowgreen: #c0b800;
$ray_yellowgreen_translucent: rgba(193,185,0,0.75);
$ray_darkgray: #424143;
$ray_grayborder: #666666; //Header
$ray_lightgray: #c0bfc0;
$ray_verylightgray: #e6e6e6;
$white: #ffffff;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $ray_lightgray;
$color__link-visited: $ray_lightgray;
$color__link-hover: $ray_darkgray;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
