.section__heading{
  background-color: $ray_darkgray;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.section__heading--text{
  font-family: "Gotham Bold", sans-serif;
  @include font-size(2);
  @include media('>=tablet'){
      @include font-size(3.125);
  }

}

.yellowgreen{
	color: $ray_yellowgreen;
}
